.projectsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    .projectsHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0;
    }
    .projectsBody {
        display: flex;
        flex-wrap: wrap;
        margin: 0 3% 1%;    
    }
}