nav {
    display: flex;
    justify-content: space-between;
    //background-color: $midnight;
    background-color: $sunny;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 31px;
    line-height: 0;
    height: 50px;
    ul:first-child {
        //margin-left: 14px;
    }
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-line {
    display: flex;
    //border-left: 3.5px solid $sunny;
    border-left: 10px solid $midnight;
    border-radius: 10%;
    height: 75%;
    margin: 3px 14px 0;
}

.nav-header,
.nav-links,
.nav-socials {
    list-style-type: none;
    margin: 7px 0 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //color: $sunny;
    color: $midnight;
    font-weight: 900;
    li {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        a {
            padding: 0;
            display: flex;
            justify-content: center;
            justify-items: center;
        }
    }
    li:last-child {
        margin-right: 14px;
    }
    li a {
        //color: white;
        //color: $sunny;
        text-align: center;
        text-decoration: none;
        display: flex;
    }
    li a:hover {
        //text-decoration: none;
        color: $snow;
        transition: 1s;
    }
}

.nav-logo {
    width: 31px;
    height: 31px;
}
