
.projectPreview {
    h5 {
        text-transform: uppercase;
        font-weight: 700;
    }
    color: #333;
    //background-color: grey;
    display: flex;
    border: 1px solid #333;
    flex: 48%;
    margin-left: 1%;
    margin-bottom: 30px;
    flex-direction: row;
    .projectPreviewContainer {
        margin: 1%;
        display: flex;
        flex-direction: column;
        width: 90%;
        //height: 100%;
        .projectPreviewBody {
            display: flex;
            flex-direction: row;
            height: 100%;
            .projectPreviewImage {
                width: 29%;
                margin-right: 1%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .projectPreviewInfo {
                padding: 0.5% 0;
                width: 70%;
                //margin-left: 1%;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: space-between;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    list-style-type: none;
                    li {
                        display: flex;
                        flex: 1 2;
                    }
                }
                .projectPreviewTitle {
                    display: flex;
                    flex-direction: column;
                    h5 {
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .projectPreviewTechnologies {

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        padding: 0;
                        justify-content: left;
                        margin-bottom: 0px;
                        column-gap: 10px;
                        flex-grow: 1;
                        li {
                            flex: 0 1 auto;
                            box-sizing: border-box;
                            padding: 5px;
                            border-radius: 5px;
                            background-color: #333;
                            color: white;
                            margin: 0px 0px 5px 0px;
                            box-sizing: border-box;
                            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                            svg {
                                font-size: 12px;
                                margin: 4px 5px 0 0;
                            }
                            p {
                                font-size: 12px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

        }
    }
    .projectPreviewButtons {
        width: 10%;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        a {
            margin-left: 3%;
            text-decoration: none;
            button {
                text-transform: uppercase;
                font-weight: 700;
                max-width: 50px;
                min-width: 50px;
                height: 50px;
                background-color: #ffff;
                color: #141313;
                border: 1px solid #141313;
                box-shadow: #14131354 0 0 0 2px, #14131393 0 4px 6px -1px, #141313c5 0 1px 0 inset;
                font-size: 14px;
                cursor: pointer;
                transition: background-color 0.5s ease, border-radius 0.5s ease;
                /* Slower transition */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                border-radius: 3px;
                span {
                    font-size: 10px;
                }
            }
            button:hover {
                color: #ffff;
                transition-duration: 2s;
                background-color: #333;
                border-radius: 3px;
            }
        }
    }
    &:nth-child(odd) {
        margin-right: 1%;
        margin-left: 0;
    }
    &:nth-child(even) {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        .projectPreviewContainer {
            .projectPreviewBody {
                display: flex;
                flex-direction: row-reverse;
                .projectPreviewTitle {
                    flex-direction: column;
                    h5 {
                        flex-direction: row-reverse;
                    }
                }
                .projectPreviewInfo {
                    margin-left: 0;
                    text-align: right;
                }
                .projectPreviewTechnologies {
                    ul {
                        //justify-content: right;
                        li {
                            //margin-left: 5%;
                            //margin-right: 0;
                        }
                    }
                    svg {
                        margin: 7px 10px 0;
                    }
                }
                .projectPreviewImage {
                    margin-left: 1%;
                    margin-right: 0;
                }
                .projectPreviewButtons {
                    justify-content: space-around;
                    a {
                        margin-right: 3%;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
